<a [routerLink]="['/']">Home</a>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <app-form-input [form]="form" (formChanged)="formChanged($event);"></app-form-input>

    <div *ngIf="error">
      <span [innerHTML]="error"></span>
    </div>

    <div fxFlex fxLayout>
      <div fxFlex></div>
      <div fxFlex="20">
        <button mat-raised-button (click)="back()">VOLTAR</button>
      </div>
      <div fxFlex="20">
        <button mat-raised-button color="primary" (click)="formSubmit()">SALVAR</button>
      </div>
    </div>
  </mat-card>
</div>