<!-- Type: Form -->
<div *ngIf="form && form.type === 'form'">
  <h3 [innerHTML]="form.label"></h3>

  <div *ngFor="let child of form.children">
    <app-form-input [form]="child"></app-form-input>
  </div>

  {{filterFormOutput(form) | json}}
</div>

<!-- Type: radio -->
<div *ngIf="form && form.type === 'radio'">
  <h4 [innerHTML]="form.label"></h4>
  <mat-radio-group [required]="form.required" [(ngModel)]="form.value" fxLayout="column" fxLayoutAlign="center">
    <mat-radio-button [aria-label]="child.label" [value]="child.label" *ngFor="let child of form.children | basePipe: filterRadioOption">
      <span [innerHTML]="child.label"></span>
    </mat-radio-button>
  </mat-radio-group>
</div>

<!-- Type: select-group -->
<div *ngIf="form && form.type === 'select-group'">
  <h4 [innerHTML]="form.label"></h4>
  <div *ngFor="let child of form.children | basePipe: filterSelect">
    <app-form-input [form]="child"></app-form-input>
  </div>
</div>

<!-- Type: select -->
<div *ngIf="form && form.type === 'select'">
  <p [innerHTML]="form.label" class="select-label"></p>
  <mat-form-field>
    <mat-select placeholder="Selecione uma opção" [(ngModel)]="form.value" [name]="form.label">
      <mat-option *ngFor="let child of form.children | basePipe: filterSelectOption" [value]="child.label">
        <span [innerHTML]="child.label"></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>