<div style="text-align:center">
  <h2>INFORMAÇÕES RECEBIDAS!</h2>
  <p>Em até 48h daremos um retorno sobre a abertura da sua conta.</p>
  <p>Para receber nossas recomendações de investimentos e começar a investir, precisamos conhecer seu perfil de investidor.</p>
  <p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos</p>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <button mat-raised-button>Não</button>
    <button mat-raised-button>Sim</button>
  </mat-grid-tile>
</mat-grid-list>